mixin img(src, width, height, title)
	//- attributes == {class: "btn"}
	img(src=src width=width height=height title=title)

mixin link-with-img (href, className, src, width, height, title)
	a(href=href class=className)
		img(src=src width=width height=height title=title)

mixin link(href, className, name)
	a(class=className href=href)= name

mixin link-with-span(href, className, name)
	a(class=className href=href)
		span= name

mixin btn-purple(href, name)
	a(class='btn-purple' href=href)= name

mixin btn-transparent(href, name)
	a(class='btn-transparent' href=href)
		span=name

mixin btn-link(href, name)
	a(class='btn-link' href=href)= name

mixin btn-long(href, name)
	a(class='btn-long' href=href)
		span=name

mixin menu-item(name, href)
	li
		a(href=href)= name

mixin menu-item__sub(name, href, className)
	li
		a(href=href class='menu-main__sub-link')
			span=name
		div(class='menu-main__sub' class=className)
			ul.menu-main__sub-list
				block

mixin input(idName, value, type, name, required, placeholder, readonly)
	.label-content
		label(for=idName)
			input(id=idName value=value type=type name=name required=required placeholder=placeholder readonly=readonly)

mixin fieldset-group(className, legend)
	fieldset(class=className)
		legend=legend
		.fieldset-group-wrapper
			block

mixin input__checkbox(idName, name, value, Title)
	.checkbox-wrapper
		input(type="checkbox" id=idName name=name value=value)
		label(for=idName)
			span=Title

mixin input__radio(idName, name, value, Title, checked)
	.radio-wrapper
		input(type="radio" id=idName name=name value=value checked=checked)
		label(for=idName)
			span=Title

mixin toggle(idName, Title, checked)
	.toggle-btn
		input(type="checkbox"  id=idName checked=checked class="cb-value")
		label(for=idName)
			span=Title
